#container{
    /* border: 1px solid red; */
    margin-top: 250px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

}
#con-left{
    /* border: 1px solid yellow; */
    width: 950px;
}
.itm{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid rgb(187, 181, 181);
}
.qty{
    display: flex;
    gap: 180px;
}
#cart-mid{
    /* border: 1px solid red; */
    padding: 20px 0px 20px 0px;
    /* width: 550px; */
    margin-top: 30px;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.mid-left{
    display: flex;
    /* border: 1px solid red; */
    width: 600px;
}
.mid-right{
    /* border: 1px solid black; */
    width: 400px;
}
.oneitm img{
    width: 200px;
}
.oneitm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid orange; */
}

.onedec h2{
    width: 280px;
    margin-bottom: 10px;
}
.onedec p {
    margin-top: 20px;
}
.onedec span{
    margin-left: 10px;
}
.price{
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
.qnty{
    /* border: 1px solid black; */
    width: 100px;
    /* margin-left: 55px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 20px; */
}
.qnty a{
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    font-size: 30px;
    color: gray;
}
.qnty input{
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    
    /* padding: 5px; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.remove{
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid black;
    letter-spacing: 2px;
}
.flexC{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 200px;
    gap: 20px;
    margin-top: 25px;
}
.mid-right{
    display: flex;
    justify-content: space-between;
}
#cart-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
}
#cart-bottom p {
    margin-bottom: 20px;
}
#select{
    padding: 15px;
    width: 200px;
    background-color: #f6f6f6;
    border: none;
    outline: none;

}
.flexOne{
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0px;
    /* border: 1px solid black; */
}

#con-right{
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
    width: 450px;
    height: 500px;
}
.dflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 20px 0px;
}
.plus,.minus{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;

}
.number{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    width: 20px;
    text-align: center;
}
.head{
    display: flex;
    justify-content: space-around;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.titles{
    font-weight: lighter;
    margin-left: 12px;
}
.totalDisplay p{
    margin-bottom: 25px;
}
.totalDisplay h5{
    margin-bottom: 25px;
    margin-top: 25px;
}
.gray{
    color: gray;
    padding: 10px;
    margin-left: -50px;
    border-bottom: 1px solid gray;
    padding-top: 20px;
    margin-top: 50px;


    
}
.vouch{
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    padding: 10px;
    padding-top: 20px;
    margin-top: 50px;
    
}
#promo{
    padding: 18px;
    margin-top: 60px;
    width: 55%;
    border: none;
    background-color: #f6f6f6;
    font-size: 18px;
    
    /* outline: 1px solid black; */

}
.promobtn{
    padding: 12px;
    color: white;
    background-color: black;
    border: none;
    margin-left: -5px;
    margin-top: 60px;
    width: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: lighter;
    cursor: pointer;
}
.promoCode{
    display: flex;
    justify-content: center;
}
.tocheckout{
    padding: 20px;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.totalDisplay p{
    font-size: 18px;
}
.totalDisplay{
    margin-left: 25px;
    margin-top: 40px;
}
.totalDisplay span{
    font-weight: bold;
    font-size: 25px;
}
.totl{
    margin-left: 25px;
}
.free{
    margin-left: 150px;
}
.disc{
    margin-left: 140px;
}
.upay{
    margin-left: 75px;
}