body{
    font-family: Arial, Helvetica, sans-serif;
}
#checkout_nav{
    width:100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 0.5px solid rgb(243, 234, 234);
}
#checkout_nav>div:nth-child(1){
    margin-left: 60px;
}
#checkout_nav>div:nth-child(2){
    margin-right: 50px;
    padding-top: 5px;
}
#checkout_nav>div img{
   margin-top: 10px;
}
#checkout_nav>div:nth-child(2) p:nth-child(1){
    font-weight: bold;
    font-size: small;
    word-spacing: 3px;
    letter-spacing: 1px;
}
#checkout_nav>div:nth-child(2) p:nth-child(2){
     font-size: small;
     word-spacing: 3px;
     letter-spacing: 1px;
}
#checkout_nav>div:nth-child(2) p:nth-child(2) a {
    color:black;
    text-decoration: underline;
    text-underline-offset: 6px;
    letter-spacing: 3px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* div{
    border:1px solid black;
} */
.checkout_text{
    width: 90%;
    min-height: 50px;
    margin:auto;
    border-bottom: 1px solid rgb(201, 197, 197);
    padding:10px 0 0 10%;
    font-size: small;
    font-weight:bold;
    letter-spacing: 2px;
}
.checkout_username,.checkout_payment{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    border-bottom: 1px solid rgb(201, 197, 197);
}
.checkout_payment1{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    border-top: 1px solid rgb(201, 197, 197); 
}
.checkout_payment2{
    width: 95%;
    margin: auto;
    margin-top: 5px;
}

.checkout_username>p{
    font-size: 27px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    cursor: pointer;
    
}
/* .checkout_payment,.checkout_payment1{
    padding-top: 10px;
    height: 80px;
} */
.checkout_payment>label,.checkout_payment1>label,.checkout_payment2>label{
    font-size: 27px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    cursor: pointer;
}

.checkout_payment>input{
    display: none;
}
.checkout_payment input:checked ~ .payment_form{
   display:block;
}
.checkout_username>p>i{
    margin-left: 110px;
    font-size: 35px;
    padding:5px 15px 0 0;
    font-weight: lighter;
}
.checkout_payment1{
    margin-left: -20px;
}
.checkout_payment>label>i,.checkout_payment1>label>i,.checkout_payment2>label>i{
    font-size: 35px;
    margin-left: 150px;
    padding:5px 15px 0 0;
    font-weight: lighter;
}
.checkout_payment>label>i,.checkout_payment2>label>i{
    padding-right: 23px;
    padding-top: 15px;
    padding-bottom: 20px;
    /* margin-left: 180px; */
}

.payment_form{
   width:70%;
   height:max-content;
   margin: auto;
   padding-left: 10px;
   display: none;
}
select{
    border: none;
    background-color:rgb(246,246,246);
    width:200px;
    height:60px;
    font-size: medium;
}
select:focus{
    outline: none;
}
 #input_details{
    border: none;
    background-color:rgb(246,246,246);
    width:400px;
    height:60px;
    font-size: medium;
}
.checkout_personal>input{
    border:none;
    width: 450px;
    height: 50px;
    background-color:rgb(246,246,246) ;
}
.checkout_personal>input:focus{
    outline:none;
}

.checkout_personal>p{
    margin-top: 20px;
    width: 450px;
    height: 50px;
   letter-spacing: 2px;
}
.checkout_personal1>input{
    border:none;
    width: 450px;
    height: 50px;
    background-color:rgb(246,246,246);
    
}
.checkout_personal1{
    width: 100%;
    display: block;
}
.delivery_information input:checked ~ .checkout_personal1{
    display: none;
}
.checkout_bottom{
    border:1px solid rgb(176,161,110);
    background-color: rgb(176,161,110) ;
    width: 100%;
    height: 350px;
    margin-top: 100px;
    color:white;
}
.checkout_bottom .bottom_option{
   width: 80%;
   border-bottom:1px solid rgb(160,140,80);
   margin: auto;
   margin-top: 30px;
}
.checkout_bottom .bottom_option a{
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}
.checkout_bottom .payment_option{
    width:60%;
    margin-top:30px;
    margin-left: 150px;
    display: flex;
    text-align: left;
    letter-spacing: 2px;
}
.checkout_bottom .payment_option div{
    font-size: x-small;
    padding-right: 40px;
}
#checkout_icons{
    margin-left: 150px;
}
#checkout_icons>i{

    padding: 20px 50px 0 0px;
}
.delivery_checkout>input{
    border:none;
    width: 450px;
    height: 50px;
    background-color:rgb(246,246,246) ;
}
.delivery_checkout>p{
    margin-top: 40px;
}

#order_review{
    display: none;

}
#order_review:checked ~ .order__review{
   display: block;
}
.order__review{
   display: none;
   padding-left: 150px;
}



#checkbox_payment{
    display: none;
}

.checkbox__payment{
    width: 50%;
    margin-left: 150px;
    display: none;
}
#checkbox_payment:checked ~ .checkbox__payment{
    display:block;
}








.help_page_container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.help_page_container .help_head{
    width: max-content;
    margin: auto;
    margin-top: 50px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.help_page_container .contact_details{
    width:75%;
    height:250px;
    background-color: rgb(251,251,251);
    margin: auto;
    margin-top: 50px;
    /* display: grid;
    grid-template-columns: repeat(3,25%);
    grid-template-rows: 50%; */
    display: block;
    justify-content: space-around;
    text-align: center;
}
.help_faqs{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    border-bottom: 0.5px solid rgb(196, 192, 192)
}
.help_faqs p{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.help_faqs a{
    margin-left: 300px;
    font-size: small;
    color:black;
    text-underline-offset: 5px;
}
.helpHead a{
    text-decoration: none;
    color: black;
    padding-right:5px;
}
/* .checkout_addDetails{
    display: none;
} */


#faqs_1{
  display: none;
}
.question1{
    display: none;
    font-size: 25px;
}
#faqs_1:checked ~ .question1{
    display: block;
}
label{
  cursor: pointer;
}


#faqs_2{
    display: none;
    cursor: pointer;
  
  }
  .question2{
      display: none;
    font-size: 25px;
  }
  #faqs_2:checked ~ .question2{
      display: block;
  }


  
#faqs_3{
    display: none;
    cursor: pointer;
  
  }
  .question3{
      display: none;
    font-size: 25px;
  }
  #faqs_3:checked ~ .question3{
      display: block;
  }


  #faqs_4{
    display: none;
    cursor: pointer;
  
  }
  .question4{
      display: none;
    font-size: 25px;
  }
  #faqs_4:checked ~ .question4{
      display: block;
  }



  #faqs_5{
    display: none;
    cursor: pointer;
  
  }
  .question5{
      display: none;
    font-size: 25px;
  }
  #faqs_5:checked ~ .question5{
      display: block;
  }


  .help_bottom{
      margin-top: 50px;
      width: 100%;
      background-color: rgb(176,161,110);
      height: 480px;
  }

.bottom_cs{
    display: block;
    color: white;
    margin-left:150px;
    margin-top: 30px;
}
.bottom_cs>p>a{
    text-decoration: none;
    color:white;
    font-size: small;
    letter-spacing: 2px;
}

.bottom_cs1{
    display: block;
    color: white;
    margin-left:200px;
    margin-top: 30px;
}
.bottom_cs1>input{
    border:1px solid white;
    border-right: none;
    height: 50px;
    width: 250px;
    background-color: transparent;
    
}
.bottom_cs1>p{
    font-size: large;
    margin-top: 30px;
}
.bottom_cs1>p>i{
    padding-left: 30px;
}
.bottom_cs1>button{
   border: none;
   outline-style:outset;
   outline-color: white;
   margin-top: 30px;
   height:50px;
   width:100px;
   color:rgb(176,161,110);
}

.app_image{
    display: flex;
    width: 200px;
}
.app_image>img{
    width: 60%;
    height: fit-content;
    margin-top: 20px;
}

.help_bottom>.payment_option{
    color:white;
    display: flex;
    margin-top: 10px;
    font-size: small;
    padding-left: 500px;
    
}
.bottom_icons{
    color:white;
    padding-left: 30px;
}
.bottom_icons>i{
    padding-right: 60px;
}





#added_items{
  width:50%;
  text-align: center;
  border-bottom: 1px rgb(231, 228, 228);
}
#added_items>div>img{
    width: 50%;
    height: 50%;
}


.images>img{
    width:40px;
    height: 40px;
    padding-right: 20px;
}


#pay_head{
  width: 100%;
  height:180px;
  background-color: rgb(176,161,110);
  display: flex;
  color:white;
  z-index: 9;

}
#pay_head>div>a{
    text-decoration: none;
    color: white;
    margin-left: 200px;
    padding-top: 20px;
}
#pay_head>img{
  width: 50px;
  height: 55px;
  background-color: white;
  margin-top: 60px;
  margin-left: 100px;
  border-radius: 3px;
}


#overlay_pay{
  position: absolute;
    width: 55%;
    height: 800px;
    margin-left: 330px;
}
#pay_div{
   width:100%;
   height: 70%;
   margin-top: 130px;
   background-color: white;
   display: flex;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#cdCard{
    width: 97%;
    height: max-content;
    padding: 3px 5px;
    margin:20px 0;
}
#cdCard:hover{
    background-color: rgb(214, 208, 208);
}
#cdCard>p>i{
  color:rgb(176,161,110);
  padding: 0 5px;
}






#credit_details{
    display: none;
}
#enter_card{
    display: none;
}
/* #label_credit{
    display: none;
} */
#credit_details:checked ~ #enter_card{
   display: block;
}


#netbanking{
    display: none;
}
#enter_login{
    display: none;
}
#netbanking:checked ~ #enter_login{
   display: block;
}


#wallet{
    display: none;
}
#enter_wallet{
    display: none;
}
#wallet:checked ~ #enter_wallet{
   display: block;
}

#otp{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#otp>img{
    width: 70px;
    height: 75px;
    background-color: white;
    outline: 1px solid black;
    margin-top: 30px;
    border-radius: 3px;
}

