#amarfooter{
    width: 100%;
    background-color: rgb(176,161,110);
    color: white;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}
#amarfooter>p{
    margin-left: 48%;
}
.fa-angle-double-down{
    margin-left: 51%;
}
#amarjewelstore{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 100px 100px 0px 100px;
    margin-top: 30px;
}
#amarjewelstore>div{
    width: 500px;
    color: black;
}
#amarjewelstore>div>h1{
    margin-bottom: 10px;
}
#amarstoreplace{
    width: 1300x;
    margin: 5%;
    font: 20px
}
.amarstoreplace>div:nth-child(2){
    font-size: 14px;
    color: black;
}
.amarstoreplace>div:nth-child(1){
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    width: 98%;
    border-bottom: 1px solid black;
}
.amarstoreplace{
        width: 80%;
        justify-content: space-around;
        margin: 100px 100px 0px 190px;
        margin-top: 30px;
}

#doworkamar{
    display: none;
}

#amarcustomer{
    width: 96%;
    margin: 4%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}
#amarhelp{
    margin-top: 100px;
    font-size: 20px;
}
#amarhelp>div:nth-child(1){
    margin-bottom: 25px;
    font-size: 25px;
}
#amarhelp>div{
    margin-bottom: 15px;
}
#amarsubscribe{
    height: 50px;
    display: flex;
}
#amarsubscribe>input{
    height:50px;
}
#amarsubscribe>p{
    height: 50px;
    background-color:white;
    color: grey;
    margin-top: 3px

}
