#amarsliderbox{
    width: 100%;
    height: 90vh;
   
    top: 0;

}
#slider{
    width: 100%;
    display: inline-flex;
    /* animation: 10s ease-in 1s reverse infinite img */
}
#slider img{
    width: 100%;
}
#amarplan{
    position: absolute;
    top: 0;
    height: 500px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    display: none;
}
#amargender{
    font-style:sans-serif;
    font-size: 18px;
    margin: 80px 0px 0px 100px;
}
#amargender>p{
    margin-bottom: 25px;
}
#amarshop{
    margin-left: 40%;
    font-size: 40px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.amarshop{
    margin-left: 100px;
}
.amarshop>img{
    margin-left: 50px;
    margin-bottom: 50px;
}
#amarnew>img{
    width: 30%;
    margin-left: 30px;
}
#amanew{
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 43%;
    font-size: 40px;
    width: 100%;
}
.amarnew{
    margin-bottom: 40px;
    display: flex;

}
#amarmen{
    width: 90%;
    margin-left: 30px;
}
#amartit{
    margin-left: 180px;
}
.amartit{
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 43%;
}
#amaroff{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 40%;
    font-size: 40px;
}
#amatype{
    display: flex;
    margin-left:230px ;
    font-family: sans-serif;
    width: 100%;

}
#amatype>div{
    margin-left: 30px;
    background-color: rgb(176,161,110);
    border-radius: 5%;
    color: aliceblue;
    height: 15px;
    margin-bottom: 15px;
    width: 100px;
    padding: 15px 23px 15px 23px;
    font-weight: bold;
}
#amarear{
    width: 70%;
    margin-top: 30px;
    margin-left: 10px;
}
#amaear{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 30px;
    grid-gap: 5px;
    margin-left: 5px;
    width: 30%;
}
#amaear>div>img{
    height: 202px;
}
#amaear>div{
    margin-bottom: 10px;
}
#amartop{
    display: flex;
    margin-left: 100px;
}
#amartop>div>img{
    height: 202px;
    width: 100%;
}
#amartop>div{
    height: 202px;
    margin-left: 20px;
    width: 300px;
    
}
.amartopprod{
    height: 300px;
}
.amartopprod:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#amach{
    margin-left: 30px;
}
#amarvideo{
    width: 100%;
    margin-top: 80px;
    height: 400px;
}
#amartrend{
    margin: 30px 0px 0px 500px;
    font-size: 40px;
    font-weight: 100;
}
#amartrendprod{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;

}
#amartrendimg{
    height: 300px;
    width: 200px;
}
.col-xs-12{
    height: 400px;
    width: 100%;
    background-size: contain;
    background-image: url("https://www.tanishq.co.in/wps/wcm/connect/tanishq/5a989616-fac1-4516-9717-66352a0d445e/flip2.jpg?MOD=AJPERES&amp;CACHEID=ROOTWORKSPACE.Z18_2Q4I11C0OOP270QIIRGE7T3OU6-5a989616-fac1-4516-9717-66352a0d445e-mLmo2uv");
}
#col-xs-11{
    margin-left: 530px;
    background-color: rosybrown;
    height: 200px;
    width: 250px;
    position: relative;
    margin-top: 20px;
}
#amarconnect{
    width: 80%;
    height: 270px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 150px;
}
#amarconnect>img{
    width: 350px;
}

#footer{
    margin-top: 10px;
}