
        #containerrth{
            width:90vw;
            height:90vh;
            margin:auto;
        }
        #logorth{
           width:100%;
           height:25%;
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
        }
        #logorth>img{
            height:100%;
        }
        #contentrth{
            width:90%;
            height:75%;
            display: flex;
            flex-wrap: wrap;
            margin:auto;
        }
        #leftrth{
            width:49.8%;
            height:90%;
            border-right:1px solid black;
            margin-top:20px;
        }
        #rightrth{
            width:49.8%;
            height:90%;
            border-left:1px solid black;
            margin-top:20px;
            display: flex;
            flex-wrap: wrap;
        }
        #createrth{
            width:90%;
            height:15%;
            display: flex;
            margin:auto;

        }
        #pararth{
            width:90%;
            margin:auto;
            margin-top:0px;
        }
        #pararth>p{
            font-size: 1.5em;
            font-family: "Raleway",sans-serif;
            font-weight: bolder;
          

        }
        #pararth>ul{
            font-family:"Roboto",sans-serif;
            font-size: 1.2em;
            
        }
        #buttonrth{
            width:90%;
            height:13%;
            background-color: rgb(24,24,24);
            margin:auto;
            margin-top:0px;
            color:white;
           display:flex;
           align-items: center;
           justify-content: center;
           font-size: 1em;
           font-family: "Raleway",sans-serif; 
        
        }
        #createrth>span:nth-child(1){
            font-family: "Raleway",sans-serif;
           display:flex;
           align-items: center;
           font-size: 1.5em;

        }
        #createrth>span:nth-child(2){
            font-family: "Raleway",sans-serif;
           display:flex;
           align-items: center;
           font-size: 1.5em;
           font-weight: bolder;
           margin-left: 10px;
        }
      #leftrth>div>h1{
        text-align: center;
        font-size: 25px;
        width:60%;
        margin:auto;
       
      }
      #detailsrth{
          width:80%;
          height:60%;
          display:flex;
          flex-direction: column;
          flex-wrap: wrap;
          border:1px solid black;
          margin:auto;
          margin-top:0px;
      }
      #detailsrth>input{
          width:90%;
          height:50px;
          margin:auto;
          text-align: center;
          border:none;
      }
      #checkBoxrth{
          width:100%;
          height:50px;
          display: flex;
          justify-content: space-between;
      }
      #checkBoxrth>div:nth-child(1){
          display: flex;
          align-items: center;
          font-size: 20px;
          font-family: "Roboto",sans-serif;;
      }
     #checkBoxrth>div>input{
         width:20px;
         height:20px;
     }
     #checkBoxrth>div:nth-child(2){
         display: flex;
         align-items: center;
         margin-right:10px;
         font-size: 15px;
          font-family: "Roboto",sans-serif;
          text-decoration: underline;
     }
     #submitrth{
         width:80%;
         height:50px;
         background-color:rgb(24,24,24);
         margin:auto;
         color: white;
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 20px;
         font-family: "Raleway",sans-serif; 
     }
     .login2rth{
         width:80%;
         height:50px;
         border:1px solid black;
         margin:auto;
         margin-top:20px;
         text-align: center;
        font-size: 18px;
        align-items: center;
       justify-content: center;
        display: flex;
        font-family: inherit;
        font-weight: bold; 
     }
