*{
    margin: 0px;
    padding: 0px;
  }
  #amaricon {
    height: 30px;
    width: 100%;
    display: inline-flex;
    height: 40px;
  }
  #amarlogindiv {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* position: sticky;  new */
    position: sticky;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  }
  #amarmenu {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 10px;
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
  }
  #amarmenu>div{
    margin-right: 10px;
  }
  
  #amarin{
    display: flex;
    width: 500px;
    margin-left: 100px;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
    margin-top: 10px;
  }
  #amaroption{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-right: 140px;
    margin-top: 40px;
    
  
  }
  #amaroption>div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
    
  }
  #amarlogo{
    margin-left: 60px;
    height: 60px;
    margin-top: 10px;
  }
  
  #amarmewokid{
    height: 400px;
    width: 1400px;
    margin-left: -300px;
    margin-top: 40px;
    display: none;
    background-color: white;
  
  }
  #amarjwel:hover #menu{
    display: block;
  }
  #amarjwel:hover #jwel{
    border-bottom: 2px solid black;
  }
  
  #amarjwel{
    position: absolute;
    left:280px;
    width: 130px;
  }
  #amargold{
    position: absolute;
    left: 430px;
  }
  #amardiamond{
    position: absolute;
    left: 500px;
  }
  #amaring{
    position: absolute;
    left: 600px;
  }
  
  #amardigring{
    position: absolute;
    left: 780px;
  }
  #amarcoll{
    position: absolute;
    left: 910px;
  }
  #amarivah{
    position: absolute;
    left: 1040px;
  }
  #amarmia{
    position: absolute;
    left: 1120px;
  }
  
  #amajwel{
    position: absolute;
    height: 40px;
  }
  #amarjwel:hover #amajwel{ 
    border-bottom: 2px solid black;
  }
  
  #amarjwel:hover #amarmewokid{
    display: block;
  
  }
  
  #amarmewolist{
    display: flex;
    justify-content: space-around;
  }
  #amarmewolist>div{
    width: 300px;
    height: 200px;
    margin: 80px 20px 0px 50px;
  
  }
  #amargender>P{
    margin-bottom: 20px;
    color: black;
  
  }
  
  
  


