*{
    margin: 0px;
    padding: 0px;
}
#amaricon {
    height: 30px;
    width: 100%;
    display: inline-flex;
    height: 40px;
}
#amarlogindiv {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    /* position: sticky;  new */
    position: sticky;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
#amarmenu {
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin-left: 100px;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
}

#amarin{
    display: flex;
    width: 500px;
    margin-left: 100px;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
    margin-top: 10px;
}
#amaroption{
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-right: 140px;
    margin-top: 40px;
    

}
#amaroption>div:hover{
    border-bottom: 5px solid rgb(29,29,29);
}
#amaroption>div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(92,92,92);
    
}
#amarlogo{
    margin-left: 100px;
    height: 70px;
    margin-top: 10px;
}

